# https://www.lfd.uci.edu/~gohlke/pythonlibs
./packages/GDAL-3.2.2-cp38-cp38-win_amd64.whl
./packages/Fiona-1.8.19-cp38-cp38-win_amd64.whl
./packages/rasterio-1.2.3-cp38-cp38-win_amd64.whl

wheel
pandas
numpy
plotly
jupyter
h3
shapely
geopandas
networkx
matplotlib
seaborn
osmnx
folium
tqdm
scikit-learn
pynndescent
umap-learn
hdbscan
contextily
keplergl
ipympl
click
unidecode