# https://www.lfd.uci.edu/~gohlke/pythonlibs
https://download.lfd.uci.edu/pythonlibs/q4trcu4l/Fiona-1.8.20-cp38-cp38-win_amd64.whl; sys.platform == 'win32'
https://download.lfd.uci.edu/pythonlibs/q4trcu4l/GDAL-3.3.0-cp38-cp38-win_amd64.whl; sys.platform == 'win32'
https://download.lfd.uci.edu/pythonlibs/q4trcu4l/rasterio-1.2.4-cp38-cp38-win_amd64.whl; sys.platform == 'win32'

GDAL; sys.platform == 'linux'
Fiona; sys.platform == 'linux'
rasterio; sys.platform == 'linux'

wheel
pandas
numpy
plotly
jupyter
h3
shapely
geopandas
networkx
matplotlib
seaborn
osmnx
folium
tqdm
scikit-learn
pynndescent
umap-learn
hdbscan
contextily
keplergl
ipympl
click
unidecode
streamlit
selenium